{% extends 'main.html' %} {% load static %} {% block content %}
<body class="homebody">


  <main class="homemain">

    <article data-index="0" data-active="active">
      <div class="article-image-section article-section">
        <img
          src="https://images.unsplash.com/photo-1534536281715-e28d76689b4d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          alt="Telephone image"
        />
      </div>
      <div class="article-description-section article-section">
        <h4>Easily store your contacts on the web</h4>
      </div>
      <div class="article-title-section article-section">
        <h1>Welcome to PhoneBook</h1>
        <i class="bi bi-telephone-fill titlephone"></i>
      </div>
      <div class="article-nav-section article-section">
        <button class="left" onclick="movepageleft()">
          <i class="bi bi-arrow-left"></i>
        </button>
        <button class="right" onclick="movepageright()">
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </article>


    <article data-index="1" data-active="inactive">
      <div class="article-image-section article-section">
        <img
          src="https://images.unsplash.com/photo-1613290907219-ee677464bd45?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80"
          alt="woman holding telephone"
        />
      </div>
      <div class="article-description-section article-section">
        <h4>Easily store your contacts on the web</h4>
      </div>
      <div class="article-title-section article-section">
        <h1>Welcome to PhoneBook</h1>
        <i class="bi bi-telephone-fill titlephone"></i>
      </div>
      <div class="article-nav-section article-section">
        <button class="left" onclick="movepageleft()">
          <i class="bi bi-arrow-left"></i>
        </button>
        <button class="right" onclick="movepageright()">
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </article>



    <article data-index="2" data-active="inactive">
      <div class="article-image-section article-section">
        <img
          src="https://images.unsplash.com/photo-1578796640832-8eac3807724a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGVtZXJnZW5jeSUyMGNhbGx8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=900&q=60"
          alt="dude holdng phone"
        />
      </div>
      <div class="article-description-section article-section">
        <h4>Store your emergency contacts</h4>
      </div>
      <div class="article-title-section article-section">
        <h1>Welcome to PhoneBook</h1>
        <i class="bi bi-telephone-fill titlephone"></i>
      </div>
      <div class="article-nav-section article-section">
        <button class="left" onclick="movepageleft()">
          <i class="bi bi-arrow-left"></i>
        </button>
        <button class="right" onclick="movepageright()">
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </article>


    <article data-index="3" data-active="inactive">
      <div class="article-image-section article-section">
        <img
          src="https://img.freepik.com/premium-photo/images-several-different-couples-smiling-their-phones-generated-by-ai_906809-6699.jpg?size=626&ext=jpg"
          alt="Telephone image"
        />
      </div>
      <div class="article-description-section article-section">
        <h4>Store the contacts of the people you love</h4>
      </div>
      <div class="article-title-section article-section">
        <h1>Welcome to PhoneBook</h1>
        <i class="bi bi-telephone-fill titlephone"></i>
      </div>
      <div class="article-nav-section article-section">
        <button class="left" onclick="movepageleft()">
          <i class="bi bi-arrow-left"></i>
        </button>
        <button class="right" onclick="movepageright()">
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </article>



  </main>
</body>
{% endblock content%}
