{% extends 'main.html' %} {% load static %} {% block content %}

  {% if page == 'login' %}
    <form action="" method="post" class="row g-3">
      {%csrf_token%}
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control " id="inputEmail4" name="email" placeholder="Enter your email">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control bg" id="inputPassword4" name="password" placeholder="Enter your Password">
      </div>
    
      <div class="col-12">
        <button type="submit" class="btn">Sign in</button>
      </div>
      {% if messages %} {% for message in messages %}
      <div class="alert alert-danger messages" role="alert">{{ message }}</div>

      {% endfor %} {% endif %}
      <p>Don't have an account? <a href="{%url 'signup'%}">Sign-up</a></p>
    </form>
  {% else %}
  <div class="form">
    <form action="" method="POST" class="form">
      {% csrf_token %} {% for field in form %}
      <label>{{field.label}}</label>
    </br>
           {{field}} 
  </br>
           {% endfor %}
      <button type="submit" class="btn">Register</button>
      <p>Signed up already? <a href="{%url 'login'%}">Login</a></p>
    </form>
  </div>
  {% endif %}

{% endblock content%}
